{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

<section class='p-5 box'>
  <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>

  <h2 id='user'>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h2>

  <button
    type='button'
    class='button'
    id='button'
  >Купити</button>

  <p class='user'>Link</p>
</section>

<section class='p-5 box'>
  <strong>Test</strong>
  <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
  <strong>Test</strong>
  <em>Test</em>
  <section>
    <p class='user'>Link</p>
  </section>
</section>

<footer class='p-5 box'>
  <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
  <p class='user'>Link</p>
  <em>Test EM</em>
  <div>
    <div>
      <em class='child'>Test EM</em>
    </div>
  </div>
  <div class='child'>Test EM</div>
</footer>
<div class='card p-5 m-5 card-dark'>

  <div class='item'>First</div>
  <div class='item'>First</div>
  <strong class='item'>Test Strong</strong>

  <p class='item'>Second</p>
  <p></p>
  <article class='item'>Last</article>
  <article class='item'>Last</article>

</div>

<div class='card p-5 m-5 card-dark'>
  <input
    class='input-dark p-5'
    placeholder='This is text'
    required
  />
  <input class='input-dark' type='number' />
</div>
<div class='card p-5 m-5 card-dark img'>
  <img
    alt='image small card 100px'
    class='small-img'
    src='https://picsum.photos/200/300'
    height='100px'
  />

  <a
    href='https://picsum.photos/200/300'
    rel='external'
  >Link</a>
  <br />
  <button class='btn'>Click Me!</button>
  <br />
  <a
    class='btn btn-secondary big'
    href='https://picsum.photos/200/300'
  >Click Me!</a>
</div>

<div class='card p-5 m-5 card-dark'>
  <p class='big-text'>
    This is text about info big text info
  </p>
</div>
<div class='card p-5 m-5 card-dark'>
  <a href='#test'>Click me</a>
</div>
<div class='card p-5 m-5 card-dark'>
  Test
</div>
<div class='card p-5 m-5 card-dark'>
  Test
</div>
<div class='card p-5 m-5 card-dark'>
  Test
</div>
<div class='card p-5 m-5 card-dark'>
  Test
</div>
<div class='card p-5 m-5 card-dark'>
  Test
</div>
<div class='card p-5 m-5 card-dark'>
  Test
</div>
<div class='card p-5 m-5 card-dark'>
  Test
</div>
<div id='test' class='card p-5 m-5 card-dark'>
  Якір
</div>

<div lang='fr' class='card p-5 m-5 card-dark'>
  <a class='link' href='https://naurok.com.ua/test'>Click me</a>
</div>

<div lang='en' id='test' class='card p-5 m-5 card-dark'>
  <input />
  <span>Hello world!</span>
  <button>Test button</button>
</div>

<div class='p-5 m-5 card-dark'>
  <button>Test button</button>

  <button disabled>Disabled button</button>
</div>

<div class='p-5 m-5 card-dark'>
  <input class='inp' />
  <div class='mt-5'>
    <div>
      <input type='checkbox' checked />
      <span>First checkbox</span>
    </div>
    <div>
      <input type='checkbox' />
      <span>Second checkbox</span>
    </div>
  </div>

</div>

<div class='p-5 m-5 card-dark'>
  <div>
    <input
      type='email'
      required
      class='valid'
      placeholder='Test'
    />
    <span>Test text</span>
  </div>
  <div class='mt-5'>
    <input
      type='number'
      min='10'
      max='20'
      required
      class='number'
    />
  </div>
</div>