.card-dark {
  background: rgb(237, 231, 231);
}
#test:target {
  color: red;
}
.link:link {
  color: red;
}
.link:hover {
  color: green;
}

.link:active {
  color: purple;
}
.card:active {
  background: aqua;
}
input {
  background-color: rgb(107, 101, 101);
}
input:focus {
  background-color: rgb(121, 218, 218);
}
.card:focus-within {
  background: red;
}
.card:lang(en) > span::after {
  content: ' (en)';
}
button {
  background-color: greenyellow;
}
button:enabled {
  background-color: chocolate;
}
button:disabled {
  background-color: aquamarine;
}
.inp:read-write {
  background-color: blue;
}
.inp:read-only {
  background-color: red;
}
input[type='checkbox']:checked ~ span {
  background: red;
}
.valid:valid {
  background: yellow;
}
.valid:invalid {
  background: goldenrod;
}
.valid:optional {
  background: rgb(99, 99, 14);
}
.number:focus {
  background: violet;
}
.number:out-of-range {
  background: red;
}
.number:in-range {
  background: rgb(21, 250, 131);
}
.number:invalid {
  background: red;
}
input:placeholder-shown ~ span {
  background: pink;
}
