.card {
  color: red;
}

.card > p {
  color: rgb(17, 203, 17);
  -webkit-text-fill-color: red;
  -webkit-text-stroke: 1px blue;
}
p:focus,
p:active,
p:hover {
  -webkit-text-fill-color: rgb(136, 255, 0);
  -webkit-text-stroke: 1px rgb(255, 0, 156);
  direction: rtl;
}
#test {
  color: initial;
  -webkit-text-fill-color: initial;
  -webkit-text-stroke: initial;

  text-align: justify;
  letter-spacing: 0.1em;
}
span {
  text-align: left;
  text-transform: uppercase;
  text-decoration: underline solid rgb(92, 236, 30);
}

span:hover {
  text-decoration-line: line-through;
  text-decoration-color: rgb(31, 7, 7);
  text-decoration-style: wavy;
}
pre {
  tab-size: 10px;
}
* {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
span {
  font-size: larger;
  font-weight: lighter;
  font-style: normal;
}
.test {
  display: none;
}
.block {
  display: inline-block;
  background: rgb(213, 206, 206);
  margin: auto;
  width: 100%;
  max-width: 600px;
}
